<!DOCTYPE html>

{% extends "layout.html" %}

{% block body %}
<form action="/new_entry" method="POST">
  <p>
    <lable for="name">Name</lable><br>
    <input type="text" name="name">
  </p>
  <p>
    <lable for="phone_number">Phone Number</lable><br>
    <input type="text" name="phone_number">
  </p>
  <p>
    <lable for="email">Email</lable><br>
    <input type="text" name="email">
  </p>
  <p>
    <button type="submit">Add entry</button>
  </p>

</form>


<a href="/">Home</a><br>
<a href="/phonebook">List entries</a><br>
<a href="/update">Update and entry</a><br>


{% endblock %}
