<!DOCTYPE html>

{% extends "layout.html" %}

{% block body %}

<form action="/update" method="GET">
  <p>
    <lable for="query">What name are you looking for?</lable><br>
    <input type="text" name="query">
    <button type="submit">Search</button>
    <br>
    <br>
  </p>
</form>

<form action="/update_entry" method="POST">
    {% for entry in to_be_updated %}
    <input type="hidden" name="id" value="{{entry.id}}">
    <p>
      <lable for="name">{{entry.name}}</lable><br>
      <input type="text" name="name" value="{{entry.name}}"><br>
      <button type="submit">Update name</button>
    </p>
    <p>
      <lable for="phone_number">{{entry.phone_number}}</lable><br>
      <input type="text" name="phone_number" value="{{entry.phone_number}}"
      ><br>
      <button type="submit">Update phone number</button>
    </p>
    <p>
      <lable for="email">{{entry.email}}</lable><br>
      <input type="text" name="email" value="{{entry.email}}"><br>
      <button type="submit">Update email</button>
    </p>

  </form>
  <form action="delete_entry" method="POST">
    <br>
    <input type="hidden" name="id" value="{{entry.id}}">
    <button type="submit">DELETE ENTRY</button>
    <br>
    <br>
  </form>


    {% endfor %}


<a href="/">Home</a><br>
<a href="/phonebook">List entries</a><br>
<a href="/new_entry">Add an entry</a><br>

{% endblock %}
